<div class="row">
    <div class="col-md-4"
    <h3>let's meet some pets!</h3>
<div id="carouselBrowsePets" class="carousel slide" data-ride="carousel">
    // using ol to show number of pets in carousel
  <ol class="carousel-indicators"></ol>
  <div class="carousel-inner"></div>
//need to link href to pet image from cloudinary
  <a class="carousel-control-prev" href="" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" </span>
  </a>
  <a class="carousel-control-next" href="" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>